.table-responsive {
  overflow-x: auto;
}

.gap-2 {
  gap: 0.5rem;
}

.estado-select {
  width: 150px;
  margin-bottom: -1.25em;
  
  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

.table {
  width: 100%;
  margin-top: 1rem;
  
  th {
    background-color: #f5f5f5;
    font-weight: 600;
    padding: 12px;
  }
  
  td {
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
  }
}

mat-chip {
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.w-25 {
  width: 25%;
}

.w-100 {
  width: 100%;
}
