@import '../../../assets/scss/variables';

.mainWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.pageWrapper {
  flex: 1;
  width: 100%;
  padding: 20px;
  background-color: #f5f5f5;
  
  &.maxWidth {
    max-width: 100%;
    margin: 0 auto;
  }
}

