<div class="mainWrapper blue_theme light-theme">
  <!-- ============================================================== -->
  <!-- Main Content -->
  <!-- ============================================================== -->
  <div class="contentWrapper">
    <!-- ============================================================== -->
    <!-- Header -->
    <!-- ============================================================== -->
    <app-header [showToggle]="false" [alineacion]="'izquierda'"></app-header>
    
    <!-- ============================================================== -->
    <!-- Page Content -->
    <!-- ============================================================== -->
    <main class="pageWrapper maxWidth">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>